@use '@angular/material' as mat;

@include mat.core();


$my-primary-color: (
    50 : #e0f1e9,
    100 : #b3dcc8,
    200 : #80c4a3,
    300 : #4dac7e,
    400 : #269b63,
    500 : #008947,
    600 : #008140,
    700 : #007637,
    800 : #006c2f,
    900 : #005920,
    A100 : #8bffa9,
    A200 : #58ff83,
    A400 : #25ff5d,
    A700 : #0bff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #e5ece8,
    100 : #bfcec5,
    200 : #94ae9f,
    300 : #698e79,
    400 : #48755c,
    500 : #285d3f,
    600 : #245539,
    700 : #1e4b31,
    800 : #184129,
    900 : #0f301b,
    A100 : #6eff9e,
    A200 : #3bff7c,
    A400 : #08ff5a,
    A700 : #00ed4f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-palette-primary: mat.define-palette($my-primary-color);
$my-palette-accent: mat.define-palette($my-accent-color);


$my-theme: mat.define-light-theme((
    color: (
        primary: $my-palette-primary,
        accent: $my-palette-accent
    )
));

@include mat.all-component-themes($my-theme);